@model food_pato.Models.Events;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận sữa menu</h2>
    </div>
    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Sữa Menu</h2>
        </div>
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="All"></div>

            <div class="form-row">
                <input type="text" class="form-control mb-3" asp-for="EventsID" type="hidden" />
                <div class="form-group col-md-6">
                    <label asp-for="TieuDe">MenuName</label>
                    <input type="text" class="form-control mb-3" asp-for="TieuDe" placeholder="Nhap tieu de" />
                    <span asp-validation-for="TieuDe" class="alert-danger"></span>
                </div>
            </div>
            <div class="form-row">
               <div class="form-group col-md-6">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <label asp-for="MenuID">MenuID</label>
                    <select asp-for="MenuID" class="form-control" asp-items="@(new SelectList(ViewBag.mnList,"Value", "Text"))"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Link">Link</label>
                    <input type="text" class="form-control mb-3" asp-for="Link" placeholder="Enter Link" />
                    <span asp-validation-for="Link" class="alert-danger"></span>
                </div>
                <div class="form-group col-md-6">
                <label asp-for="ThuTuBV">Vị tri HT</label>
                <select asp-for="ThuTuBV" class="form-select" id="ThuTuBV">
                        <option value="1">1</option>
                        <option value="2">2</option>
                       <option value="3">3</option>
                    </select>
                </div>
                <div class="from-group col-md-12">
                <label class="control-label">Hình ảnh</label>
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button" onclick="openDialog()">Chọn hình ảnh</button>
                    </div>
                    <input type="text" class="form-control" asp-for="HinhAnh" id="file_input" aria-describedby="button-addon2">
                </div>
                </div>
                <div class="from-group col-md-12">
                <label class="control-label">Hình ảnh nền</label>
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button" onclick="openDialog()">Chọn hình ảnh</button>
                    </div>
                    <input type="text" class="form-control" asp-for="HinhAnhNen" id="file_input" aria-describedby="button-addon2">
                </div>
                    <div class="form-group col-md-12">
                        <label asp-for="ThoiGianSK">Thời gian Sk</label>
                        <textarea asp-for="ThoiGianSK" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="NoiDung">Nội dung</label>
                    <textarea asp-for="NoiDung" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="TomTatBV">Tóm tắt món ăn</label>
                    <input type="text" class="form-control mb-3" asp-for="TomTatBV">
                </div>
                
                <div class="form-group mt-3 mb-5">
                    <label>
                        @Html.CheckBox("TrangThaiHD",Model.TrangThaiHD)
                        Hien thi
                    </label>
                </div>
                <div class="form-group d-none">
                    <input asp-for="TrangThaiBV" class="form-control" value="1" />
                </div>
                <div class="form-group d-none">
                    <input asp-for="PhanLoai" class="form-control" value="1" />
                </div>
            </div>
            <button type="submit" class=" btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Luu</button>
            <a asp-controller="Menu" asp-action="Index" class=" btn btn-lg btn-warning p-2">Quay lai</a>
        </form>
    </div>
</main>

@{
    var summerNote = new food_pato.Areas.Admin.Models.SummerNote("#NoiDung");
    <partial name="_SummerNote" model="summerNote" />
}
