@using food_pato.Models;
@model IList<Intro>

<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
							Italian Restaurant
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-5">
							@item.TieuDe
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							@item.TomTatBV
						</p>

						<a href="https://localhost:7069/decover-romantic-restaurant-3.html" class="txt4">
							Our Story
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="@item.HinhAnh" alt="IMG-OUR">
					</div>
				</div>
			}

		</div>
	</div>
</section>