@using food_pato.Utilities;
@model food_pato.Models.Decorver
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm mới bài viết</h2>
    </div>

    <!--Begin form-->
    <form asp-action="Create" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="MenuID">Chọn mục</label>
                <select asp-for="MenuID"
                        class=" form-control"
                        asp-items="@(new SelectList(ViewBag.mnList,"Value","Text"))">
                </select>
                <span asp-validation-for="MenuID" class="alert-danger"></span>

            </div>
            <div class="form-group col-md-12">
                <label asp-for="TieuDe">Tiêu đề</label>
                <input type="text" class="form-control mb-3" asp-for="TieuDe" />
            </div>
            <div class="form-group col-md-12">
                <label asp-for="TomTatBV">Tom tat</label>
                <input type=" text" class="form-control mb-3" asp-for="TomTatBV" />
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Hình ảnh</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button" onclick="openDialog()"> Choose a pic</button>
                    </div>
                    <input type="text" class="form-control" asp-for="HinhAnh" id="file_input" aria-describedby="button-addon2" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="NoiDung">Nội dung</label>
                <textarea asp-for="NoiDung" class="form-control"></textarea>


            </div>
            <div class="form-group col-md-6 mt-3 mb-3">
                <label>
                    @Html.CheckBox("TrangThaiHD",true)
                    Hiển Thị
                </label>

            </div>
            <div class="form-group d-none">
                <input asp-for="NgayDangBV" class="form-control" value="@Functions.getCurrentDate()" />
            </div>
            <div class="form-group d-none">
                <input asp-for="ThuTuBV" class="form-control" value="1" />
            </div>
            <div class="form-group d-none">
                <input asp-for="PhanLoai" class="form-control" value="1" />
            </div>
            <div class="form-group d-none">
                <input asp-for="TrangThaiBV" class="form-control" value="1" />
            </div>
            <div class="form-group d-none">
                <input asp-for="Link" class="form-control" value="NULL" />
            </div>
        </div>
         <a class="btn btn-lg btn-warning p-2 mr-5 " href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            
            <i class="bi bi-file-plus-fill"></i> Lưu lại
        </button>

    </form>
</main>
@{
    var summerNote = new food_pato.Areas.Admin.Models.SummerNote("#NoiDung");
    <partial name="_SummerNote" model="summerNote" />
}