@using food_pato.Utilities;
@using food_pato.Models;
@model IList<Decorver>

<!-- Discover -->
<section class="section-intro">
	<div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(images/bg-intro-01.jpg);">
		<span class="tit2 p-l-15 p-r-15">
			Discover
		</span>

		<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
			Pato Place
		</h3>
	</div>

	<div class="content-intro bg-white p-t-77 p-b-133">
		<div class="container">
			<div class="row">

				<!-- Block1 -->
				@foreach (var item in Model)
				{
					string url = Functions.TitleSlugGeneration("decover", item.TieuDe, item.DicoverID);
					<div class="col-md-4 p-t-30">
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<a href="/@url"><img src="@item.HinhAnh" alt="IMG-INTRO"></a>
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<a href="/@url">
									<h4 class="txt5 color0-hov trans-0-4 m-b-13">
										@item.TieuDe
									</h4>
								</a>

								<p class="m-b-20">
									@item.TomTatBV
								</p>

								<a href="/@url" class="txt4">
									Đọc Tiếp
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				}



			</div>
		</div>
	</div>
</section>
