@using food_pato.Utilities
@model IList<Events>

@foreach (var item in Model)
{
<section class="bg1-pattern p-t-120 p-b-105">
	<div class="container">
		<!-- Delicious -->
					<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-delicious t-center">
						<span class="tit2 t-center">
						@item.ThoiGianSK
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-5">
						@item.TieuDe
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
						@item.NoiDung
						</p>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="@item.HinhAnh" alt="IMG-OUR">
					</div>
				</div>
			</div>
	</div>
</section>
}
